<div class="row">
  <div class="col-md-8">
    <%= @event.name %>
    </br>
    Your current role is <%= current_role %>
    </br>
    <%= @event.startdate %>
    </br>
    <%= @event.enddate %>
  </div>
  <div class="col-md-4">
    <% if current_role == 'planner' %>
      <%= link_to "Delete", @event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this event?' } %>
    <% end %>
   </div>
</div>