<!--Cover-->
<div class="jumbotron" id="cover-picture">
  <div class="container text-center" id="cover-text">
    <h1><%= @event.name %></h1>
    <p><% if @event.length == 'One Day' %>
      <%= @event.startdate.strftime('%b %e, %Y') %>
      <% else %>
      <%= @event.startdate.strftime('%b %e, %Y') %> - <%= @event.enddate.strftime('%b %e, %Y') %>
      <% end %>
    </p>
    <p><%= @event.location %></p>
  </div>
</div>

<div id="site-canvas">
  <div id="site-menu">
    <strong>Weather:</strong>
    <p>Summary: <%= @current_weather.summary %></p>
    <p>Temperature: <%= @current_weather.temperature %></p>
    <p>Wind Speed: <%= @current_weather.windSpeed %></p>
  </div>
  <div id="activity" class="container">
    <table id="activity-list-table" class="table table-striped table-bordered">
      <thead>
        <th class="col-sm-2">Date</th>
        <th class="col-sm-2">Time</th>
        <th class="col-sm-4">Activity Name</th>
        <th class="col-sm-3">Actions</th>
      </thead>
      <tbody>
        <% @event.activities.each do |activity| %>
          <tr id="activity-detail-rows">
            <%= render 'activities/activity', activity: activity%>
          </tr>
        <% end %>
      
        
          <% if current_role == 'planner' || current_role == 'helper' %>
            <tr><%= render 'activities/form', event: @event, activity: Activity.new %></tr>
          <% end %>  
        
      </tbody>
    </table>
    
  </div>
      <br>
      
      <div class="hearts text-center">
        <a data-transition="boring"><i class="fa fa-heart"></i><span>Resource</span></a>
      </div>
      

      <br>
      <div class="row text-center">
        <% if current_role == 'planner' %>
            <%= link_to "Delete Event", @event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this event?' } %>
            <%= link_to "Edit Event", edit_event_path, class: 'btn btn-default' %>
          <% end %>
      </div>
    
    </div>

  </div>

