<td>
  <%= activity.date.strftime('%^b %e') %>
</td>
<td>
  <%= activity.starttime.strftime('%l:%M %P')  %>
</td>
<td>
  <%= activity.name %>
</td>  
<td>
    <% if current_role == 'planner' %>
      <div class='hearts btn btn-default'>
        <a data-transition="boring"><i class="glyphicon glyphicon-search"></i></a>
      </div>
      
      <%= link_to "", event_activity_path(activity.event, activity), method: :delete, class: 'btn btn-danger glyphicon glyphicon-remove' %>
      <% if activity.completed  %>
        <p class= 'glyphicon glyphicon-ok'></p>
      <% else %>
        <%= link_to '', event_activity_path(activity.event, activity), method: :put, class: 'btn btn-success glyphicon glyphicon-ok' %>
      <% end %>
    <% elsif current_role == 'helper' %> 
      <% if activity.completed  %>
        <p class= 'glyphicon glyphicon-ok'></p>
      <% else %>
        <%= link_to 'Completed', event_activity_path(activity.event, activity), method: :put, class: 'btn btn-success' %>
      <% end %>
    <% else %>
      Your current role is <%= current_role %>.
      Want to help <%= @event.user.email %> this event?
    <% end %>
</td>

