 <%= form_for [event, activity] do |f| %>
   
      <td>
        <%= f.label :date, class: 'sr-only' %>
        <%= f.text_field :date, class: 'form-control', type: 'date', :disabled => event.length == 'One Day' %>
      </td>
      <td>
        <%= f.label :starttime, class: 'sr-only'  %>
        <%= f.text_field :starttime, class: 'form-control', placeholder: "Time" %>
      </td>
      <td>
        <%= f.label :name, class: 'sr-only' %>
        <%= f.text_field :name, class: 'form-control search-input', placeholder: "Enter a new activity" %>
      </td>  
      <td>
        <%= f.submit "Submit", class: 'btn btn-default pull-right' %>
      </td>
   
 <% end %>
